/* reset css */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 45%;
}


body {
  background-color: #fffaee;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  font-size: 2rem;
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.022rem;
  height: auto;
}

.main {
  width: calc(100% * 640 / 1024);
  max-width: 64rem;
  min-height: 94%;
  /* Padding scaled from Figma (28px top/bottom, 20px left right) */
  padding: 2.8rem 2rem;
}

.container {
  /* Stack children vertically with gap */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem/* 24px in Figma, scales with width */;
}

.copy-right {
  font-size: 1.4rem;
}

.illustration, #result-illustration, #education-illustration {
  display: flex;
  justify-content: center;
}

.illustration img {
  height: 30rem;
  width: auto;
}


/* FONT */
.title-font {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*/////////////// Start Page ///////////////// */
#start-page {
  justify-content: center;
  height: 94vh;
}

#start-container {
  gap: 4rem;
}

#start-content {
  gap: 1.2rem;
}

#start-title {
  font-size: 3.6rem;
}

#start-illustration img {
  height: 40rem;
}

#start-button-container, #result-button-container, #education-button-container {
  gap: 2rem;
}

.other-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

#start-button-container .button, #result-button-container .button, #education-button-container .button {
  text-align: center;
  padding: 1.4rem 4.8rem;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.other-button-container .button {
  flex: 1;
}

/*////////////// Welcome Page ////////////*/
#welcome-page {
  display: none
}

#welcome-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.57rem;
}

#welcome-title div{
  border-radius: 100px;
  background-color: #fff0cc;
  display: flex;
  padding: 0 2.8rem;
  align-items: center;
  justify-content: center;
  height: 100%
}

#welcome-container {
  gap: 4rem;
}

#welcome-content-container {
  gap: 1.1rem
}

#special-line {
  font-style: italic;
  text-decoration: underline;
  font-weight: 700;
}

#welcome-button {
  text-align: center;
  padding: 1.4rem 4.8rem;
}

/*////////////// Quiz Page ////////////*/
#quiz-page {
  display: none;
}

#question-progress, #end-quiz-progress, #education-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.57rem;
}

#back-button, #back-to-quiz-button, #back-education-button, #next-education-button {
  height: 100%;
  width: auto;
  cursor: pointer;
}

#back-button img, #back-to-quiz-button img, #back-education-button img, #next-education-button img{
  height: 100%;
  width: auto;
}

#question-number, #end-quiz, #education-number {
  border-radius: 100px;
  background-color: #fff0cc;
  height: 100%;
  display: flex;
  padding: 0 2.8rem;
  align-items: center;
  justify-content: center;
}

#question-content-container, #end-content-container {
  gap: 1.1rem;
}

#question-ask {
  font-size: 2.4rem;
}

#answer-container {
  gap: 2rem;
}


/*////////////// END QUIZ PAGE ///////////*/
#end-quiz-page {
  display: none;
}

#end-quiz-container {
  gap: 4rem;
}

#end-quiz-button {
  text-align: center;
  padding: 1.4rem 4.8rem;
}




/*////////////// RESULT PAGE /////////////*/
#result-education-page {
  display: none;
}

#result-education-content-container {
  gap: 4rem;
}

#result-illustration img {
  width: 64rem;
  height: auto
}

#download-button a {
  text-decoration: none;
  color: inherit;
}


/*/////////////// EDUCATION PAGE ///////////////*/
#education-title {
  font-size: 3.6rem;
}

#education-illustration img {
  width: 64rem;
  height: auto;
  border-radius: 4rem;
  border: 0.4rem solid black;
  box-shadow: 0.2rem 0.2rem 0 0.4rem black;
  box-sizing: border-box;
}


/*/////////////// Buttons ///////////////// */

.button {
  background-color: #FFF0CC;
  border-radius: 50px;
  box-shadow: 0.2rem 0.2rem 0 0.4rem black;
  text-align: left;
  padding: 2rem 8.3rem 2rem 4.8rem;
  position: relative;
  overflow: hidden;
  transition-duration: 0.25s;
  cursor: pointer;
  display: grid;
}

.button p {
  grid-area: 1/1;
  z-index: 2;
}

.button img{
 position: absolute;
 bottom: -2rem;
 right: 4.8rem;
 grid-area: 1/1;
 z-index: 1;
 height: 7rem;
 width: auto
}

.hover-img {
  display: none;
}

.button:hover {
  background-color: #FFE099;
  box-shadow: inset 0.2rem 0.2rem 0 0.4rem black;
}

.button:hover .not-hover-img {
  display: none
}

.button:hover .hover-img {
  display: block;
  clip-path: inset(0 0 2.2rem 0)
}


/*/////////////// PHONE VERSION ///////////////*/
/* Target screens smaller than 768px */
@media (max-width: 768px) {
  html {
    font-size: 55%; /* scale fonts slightly bigger so text is readable */
  }

  body {
    font-size: 1.6rem;
  }

  .main {
    width: 100%;        /* use full width of phone */
    padding: 2.24rem 1.6rem; /* smaller padding */
  }

  .container {
    gap: 1.92rem; /* reduce gaps */
  }

  #start-container, #welcome-container, #end-quiz-container {
    gap: 3.2rem
  }

  #question-progress, #end-quiz-progress, #education-progress, #result-education-content-container, #welcome-title {
    height: 3.65rem;
  }

  /* Images */
  .illustration img,
  #start-illustration img,
  #result-illustration img,
  #education-illustration img {
    width: 100%;
    height: auto;
    max-height: none;
  }


  .illustration img,
  #start-illustration img {
    max-height: 40vh;
  }

  /* Fonts */
  body {
    font-size: 1.6rem;
  }

  #start-title,
  #education-title {
    font-size: 2.8rem; /* smaller titles */
  }

  #question-ask {
    font-size: 1.92rem;
  }

  .copy-right {
    font-size: 1.1rem;
  }

  /* Buttons */
  .button {
    padding: 1.6rem 6.64rem 1.6rem 3.84rem;
  }

  #start-button-container .button, #result-button-container .button, #education-button-container .button,
  #welcome-button,
  #end-quiz-button {
  padding: 1.1rem 3.8rem;
}

  .button img {
    right: 3.84rem;
    height: 5.6rem;
    bottom: -1rem;
  }

  .button:hover .hover-img {
    clip-path: inset(0 0 1.2rem 0)
  }
}












